@import '@jaycorpstudios/sheika-theme/src/colors.scss';
.LoadingLayer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: $color-modal-shade;
    z-index: 1000;
    top: 0;
    left: 0;
}