@import 'theme/colors.scss';
@import 'theme/variables.scss';

%button-base {
    width: 100%;
    max-width: 264px;
    height: 50px;
    border-radius: 25px;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
}

.ThemeButton {
    transition: $animation-fast ease-in;

    &.--primary {
        @extend %button-base;
        background: $color-secondary-shadow;
        color: $color-text-negative;
        border: 2px solid $color-secondary-shadow;
    }
    &.--secondary {
        @extend %button-base;
        background: transparent;
        color: $color-secondary-shadow;
    }
    &.--block {
        max-width: none;
    }
    &:hover{
        transition: $animation-fast ease-out;
        box-shadow: $color-element-shadow 0 0 25px;
        transform: scale(1.05);
    }
    &.--primary:hover{
        color: $color-text-negative;
        border-color: $color-primary;
        background: $color-primary;
    }
}

