$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-secondary-shadow: var(--color-secondary-shadow);
$color-background-primary: var(--color-background-primary);
$color-background-secondary: var(--color-background-secondary);
$color-text-base: var(--color-text-base);
$color-text-negative: var(--color-text-negative);
$color-gray: var(--color-gray);
$color-disable-gray: var(--color-disable-gray);
$color-element-shadow: var(--color-element-shadow);
$color-modal-shade: var(--color-modal-shade);
$color-female-photo: var(--color-female-photo);
$color-male-photo: var(--color-male-photo);
$color-info: var(--color-info);
$color-success: var(--color-success);
$color-warning: var(--color-warning);
$color-error: var(--color-error);
$color-info-shadow: var(--color-info-shadow);
$color-success-shadow: var(--color-success-shadow);
$color-warning-shadow: var(--color-warning-shadow);
$color-error-shadow: var(--color-error-shadow);