@import 'theme/colors.scss';
@import 'theme/variables.scss';

figure.UserPhoto {
    display: flex;
    font-weight: 600;
    color: $color-text-negative;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 5px $color-element-shadow;
    transition: $animation-slow;

    &.male {
        background-color: $color-male-photo;
    }
    &.female {
        background-color: $color-female-photo;
    }
}