@import 'theme/colors.scss';
@import 'theme/variables.scss';

.ThemeAlert {
  padding: 1rem;
  font-size: 16px;
  display: grid;
  grid-template-columns: 20px 1fr;
  justify-items: left;
  align-items: center;
  grid-gap: 1rem;
  border-radius: .25rem;
  color: $color-text-negative;
}
.textContainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: .5rem;
}
.highlight{
  font-weight: 500;
}
.info {
  background-color: $color-info;
  box-shadow: $color-info-shadow 0 0 10px;
}
.success {
  background-color: $color-success;
  box-shadow: $color-success-shadow 0 0 10px;
}
.warning {
  background-color: $color-warning;
  box-shadow: $color-warning-shadow 0 0 10px;
}
.error {
  background-color: $color-error;
  box-shadow: $color-error-shadow 0 0 10px;
}