// Layout limited to set the main grid.

@import './../theme/colors.scss';
@import './../theme/variables.scss';

.Dashboard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 58px 1fr;
    min-height: 100vh;
    background-color: $color-background-secondary;

    @media screen and (min-width: $laptop-min) {
        grid-template-columns: 241px 1fr;
        grid-template-rows: 80px 1fr;
        padding-right: 25px;
        grid-gap: 25px;
    }

    .MainContent {
        @extend %constrains;
    }

    .NavigationBar {
        grid-row: 1 / -1;
    }

    .UserHeader {
        align-self: end;
        @extend %constrains;
    }
}

%constrains{
    max-width: 990px;
    margin: 0 auto;
    width: 100%;
}