@import '../../theme/colors';
@import '../../theme/variables.scss';
@import '../../theme/typography.scss';

.Login {
    width: 100%;
    min-height: 540px;
    height: 100%;
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;

    @media screen and (min-width: $tablet-min) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 200px 100px;
        min-height: auto;
        height: auto;
        max-width: 350px;
        grid-row-gap: 10px;
    }

    %overlay {
        position: relative;
        z-index: 2;
    }
    &__poster {
        width: 100%;
        height: 100%;
        background: url('#{$images-path}hero-mobile.jpg') no-repeat center;
        background-size: cover;
        grid-column: 1 / 4;
        grid-row: 1 / 3;
        clip-path: inset(-400px -140px 0 -140px round 240px);
        -webkit-clip-path: inset(-400px -140px 0 -140px round 240px);
        @media screen and (min-width: $tablet-min) {
            grid-column: auto;
            grid-row: auto;
        }
    }
    &__title, &__description{
        @media screen and (min-width: $tablet-min) {
            justify-self: start;
        }
    }
    &__logo {
        width: 100%;
        max-width: 250px;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        transition: 300ms;
        @extend %overlay;
        @media screen and (min-width: $tablet-min) {
            grid-column: auto;
            grid-row: auto;
        }
    }
    &__form {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        margin-bottom: 30px;
        @extend %overlay;
        @media screen and (min-width: $tablet-min) {
            grid-column: auto;
            grid-row: auto;
            margin-bottom: 0;
        }
    }
    &__button {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        @media screen and (min-width: $tablet-min) {
            grid-column: auto;
            grid-row: auto;
        }
    }
}

//TODO: Extract this to an isolated component.

.login-form {
    width: 100%;
    display: grid;
    grid-row-gap: 40px;
    justify-items: center;

    &__input {
        max-width: 350px;
    }
}
