$color-primary: rgb(31,187,171);
$color-secondary: rgb(17,104,100);
$color-secondary-shadow: rgb(19,88,93);
$color-background-primary: rgb(255,255,255);
$color-background-secondary: rgb(246,246,246);
$color-text-base: rgb(64,64,64);
$color-text-negative: rgb(255,255,255);