@import 'theme/colors.scss';
@import 'theme/variables.scss';

.PatientAddPage {
  background: $color-background-primary;
  height: 100%;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr;
  grid-template-rows: 195px auto;

  @media screen and (min-width: $tablet-min){
    background: $color-background-secondary;
    padding: 20px 15px;
  }

  @media screen and (min-width: $desktop-min) {
    padding: 0;
  }

  &__form {
        height: fit-content;
        padding: 20px;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        align-items: center;
        justify-items: center;

        @media screen and (min-width: $tablet-min) {
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: minmax(62px, auto);
            background-color: $color-background-primary;
            border: solid 1px $color-disable-gray;
            border-radius: 10px;
            padding: 30px;
        }
  }

  &__saveBtn{
    @media screen and (min-width: $tablet-min){
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }
  &__cancelBtn{
    @media screen and (min-width: $tablet-min){
      grid-column-start: 2;
      grid-column-end: 3;
    }

  }


}