@import '@jaycorpstudios/sheika-theme/src/colors.scss';

.ThemeGroupTitle {
    color: $color-secondary;
    span {
        position: relative;
        background: $color-background-primary;
        padding-right: 20px;
    }
    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: $color-secondary;
        top: 17px;
        position: relative;
    }
}