@import 'theme/colors.scss';
@import 'theme/variables.scss';

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: $deep-level-modal;
}

.backdrop {
  background-color: $color-modal-shade;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.container {
  background-color: $color-background-primary;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  max-width: 100%;
  min-height: 400px;
  max-height: 100%;
  z-index: 2;
}