@import './../../theme/colors.scss';
@import './../../theme/variables.scss';

.ThemeInput {
    width: 100%;
    height: 52px;
    position: relative;

    &__input {
        width: 100%;
        height: inherit;
        border: none;
        border-bottom: solid 1px $color-disable-gray;
        border-radius: 0;
        padding: 1px 10px;
        background-color: transparent;
        outline: none;
        transition: $animation-medium;
        position: relative;
        z-index: 2;
        &::placeholder{
            color: $color-disable-gray;
        }
        &:focus{
            border-color: $color-gray;
        }
        &.--negative:focus {
            border-color: $color-text-negative;
        }
    }

    &__input:focus + &__label, &__label.--active, &__label.--icon.--active {
        font-size: 12px;
        top: -15px;
        left: 9px;
    }

    &__label {
        position: absolute;
        z-index: 1;
        top: 12px;
        left: 9px;
        transition: $animation-medium;
        &.--icon{
            left: 54px;
        }
    }

    &--icon {
        padding: 1px 10px 1px 55px;
        background-repeat: no-repeat;
        background-size: 35px 35px;
        background-position: 10px center;

        &.email {
            background-image: url('#{$images-path}/icons/glyph-email.svg');
        }
        &.lock {
            background-image: url('#{$images-path}/icons/glyph-lock.svg');
        }
        &.search {
            background-image: url('#{$images-path}/icons/glyph-search.svg');
        }
    }

    &--negative {
        border-bottom-color: $color-text-negative;
        &::placeholder{
            color: $color-text-negative;
        }

    }

    &--icon.--negative {
        &.email {
            background-image: url('#{$images-path}/icons/glyph-email-negative.svg');
        }
        &.lock {
            background-image: url('#{$images-path}/icons/glyph-lock-negative.svg');
        }
    }
}